/* Styles for mobile devices */
@media (max-width: 992px) {
    .parent-div-boxmain-icon{
        width: 100%;
    }
    .row-wrapper {
        flex-direction: row;
        /* Ensure horizontal scrolling */
    }

    .boxmain-text {

        width: 66px;

    }

    .box-bussiness-overview {
        display: flex;
        flex-direction: row;
    }

    .mobile-gap {
        gap: 12px;
    }

    .padding-align {
        padding-left: 12px;
    }

    .img-sec-choice img {
        width: 95%;

    }

    .pendingSumaaryHeading {
        font-family: 'Mulish-Bold';
        font-size: 18px;
        line-height: 24px;
        margin: 0;
        text-transform: uppercase;
        color: #063e6f;
    }

}







/* Styles for desktops */
@media (min-width: 992px) {
    .row-wrapper {
        overflow: hidden;
    }

    .boxmain-text {
        width: min-content;
    }

    .box-bussiness-overview {
        gap: 16px;
    }

    p {
        margin-bottom: 8px;
    }

    .floating-box {
        position: absolute;
        /* Absolute positioning */
        bottom: 20%;
        right: 0;
        /* Adjust as needed */
        background-color: #EA7617;
        /* Semi-transparent background */
        padding: 14px;
        /* Padding inside the box */
        border-radius: 20px;
        /* Rounded corners */
    
        z-index: 10;
        /* Ensure it appears above the image */
 
    }

    .floating-box h5 {
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
        font-family: 'mulish-bold';
    }

    .floating-box input {
        width: 100%;
        /* Full width input */
        padding: 5px;
        /* Padding inside the input */
        border: 1px solid #ccc;
        /* Border styling */
        border-radius: 3px;
        /* Rounded corners */
        border-radius: 6px;
    }

    ::placeholder {
        color: #CCCCCC;
    }
}

/* Harshal start */

@media (max-width:1050px){
    .advisornotificationmobile{
    position: absolute;
    top: 12px;
    right: 100px;
    }
    .profileDropdownWrapper{
    display: none;
    }
    
    .profileDropdownWrapper{
    display: none;
    }
    .advisorDesktopNavMyProfile{
        display:block;
    }
    .advisorNavContainer{
        padding: 15px calc(var(--bs-gutter-x));
    }
    }

    /* Harshal end */