*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Mulish';
}

.pendingSummaryFontSizes{
 
  
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-transform: capitalize;
}

.pendingSummaryBgColorCommon{
    background-color: #f5faff;
}

.pendingSumaaryBgBorderRadiusCommon{
border-radius: 20px;
}

.pendingSumaaryHeading{
    font-family:'Mulish-Bold';
    font-size: 20px;
    line-height: 24px;
     
    text-transform: uppercase;
    color: #063e6f;
}

p.View.All {
    color: #9a2529;
    font-weight: 700;
    text-transform: capitalize;
    text-align: right;
}

p.applicatioHeading {
    font-size: 18px;
    color: #161616;
    font-weight: 500;
    line-height: 22px;
}

p.statusValue{
    font-size: 22px;
    font-weight: 700;
    color: #161616;
    line-height: normal;
    margin:0;
}

.row-wrapper{
    display: flex;
    gap: 03%;
}
 
.container.pendingSummaryWrapper {
    overflow: hidden; /* Prevent scrolling on mobile */
}

.row-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: space-between;
}


.applicationStatusBg {
    gap: 66px;
}

 

/* Add vertical line between columns */
 
.border-right{
    border-right: 1px solid #847174;
    padding: 0px 4% 0px 0px;
}
 .quick-section{
    margin: 0;
    row-gap: 22px;
 }
.quicky-links-boxes{
    border-radius: 20px;
    background-color: #F4F6EF;
  
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 14px 16px 14px 16px;
    justify-content: space-between;
    align-items: center;
}
 
 .boxmain-text h5{
    font-size:16px;
    font-family: 'mulish-bold';
    margin-bottom: 0px;
 }
.boxmain-icon{
    width: 60px;
    height: 60px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    border-radius: 100px;
}
.boxmain-next-circle{
    width: 28px;
    height: 28px;
    background: rgb(255, 255, 255);
    text-align: center;
    border-radius: 100px;
}
.boxmain-text{
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.boxmain-next {
    display: flex;
    align-items: center;
}
.box-bussiness-overview{
    flex-direction: column;
    gap: 0px;
}
.img-sec-choice {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.img-sec-choice img {
    width: 100%; /* Full width */
    position: absolute; /* Absolute positioning to allow movement */
    top: 0; /* Start at the top */
    border-radius: 20px;
    
}
.breadcrumb {
    display: flex;
    list-style: none;
    
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
  }
  
  .breadcrumb-item {
    display: flex;
    align-items: center;
  }
  
  .breadcrumb-item + .breadcrumb-item::before {
    content: "/";
    margin: 0 0.5rem;
    color: #6c757d;
  }
  
  .breadcrumb-item a {
    text-decoration: none;
    color: #444444;
    font-size:14px;
  }
  
  .breadcrumb-item a:hover {
    text-decoration: underline;
  }
  
  .breadcrumb-item.active {
    color: #EA7617;
    pointer-events: none;
    cursor: default;
  }
  .icon-text{
    font-size: 22px;
    font-family: 'mulish-bold';
  }

  .tabs {
    display: flex;
    cursor: pointer;
    border:1px solid #E3E3E3;
    padding: 6px;
    border-radius: 28px;
    width: fit-content;
 
}
.tab {
    padding: 10px 20px;
    border: 1px solid #cccccc00;
    border-bottom: none;
    font-family: 'mulish-bold';
    color: #6B6BB8;
    
}
.tab.active {
    background-color: #6B6BB8;
    color: #fff;
    border-radius: 28px;
    padding: 8px 20px 8px 20px;
    font-family: 'mulish-bold';
}
 
.content div {
    display: none;
}
.content div.active {
    display: block;
}
.search-bar{
    display: flex;
    margin:auto;
    gap: 12px;
}
::placeholder{
    color: #CCCCCC;
}
.input-group-text {
    background: none;
    border-right: none;
    padding-right: 0px;
}

input.form-control {
    border-left: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
 
    border: 1px solid #E9EEF3;
}
th, td {
    padding: 12px;
    text-align: left;
    
    border-bottom: 1px solid #E9EEF3;
    font-family: 'Mulish-regular';
 
}
th {
    font-family: 'Mulish-SemiBold';
    background-color: #f2f2f2;
}
 .btn-outline-danger{
    color: #9A2529;
    background-color: #9a252942;
    border: none;
 }

 /* Harshal */
 #advisorDesktop ul li a {
    line-height: 130%;
    color: #444;
    font-weight: 500;
    height: 100%;
    padding: 17px 10px;
    }
    .cool-link {
display: inline-block;
color: #000;
text-decoration: none;
}

.cool-link::after {
content: '';
display: block;
width: 0;
height: 2px;
background: #9a2529;
transition: width .3s;  
}

#advisorDesktop ul li a:hover{
color: #9a2529;
/* font-weight: 700; */
/* font-weight: bold; */
}


#advisorDesktop ul li a::after {
content: attr(data-text);
content: attr(data-text) / "";
height: 0;
visibility: hidden;
overflow: hidden;
user-select: none;
pointer-events: none;
font-weight: 700;
}

.cool-link:hover::after {
width: 100%;
transition: width .9s;  
}

.cool-link a:hover {
font-weight: 700;    
}
.navbar-expand-lg{
padding: 0;

}

.advisorLogoHeader image  {
height: 37.5px;
}
.advisorLogoHeader {
padding: 0;
}
.profileDropdownWrapper{
display: flex;
justify-content: center;
align-items: center;
gap: 7px;
}
#navbarSupportedContent{
align-items: center;
justify-content: center;
gap:10px;
}
.advisorDesktopProfileCircle{
margin: 10px;
padding: 15px;
background-color: antiquewhite;
border-radius: 50%;
margin: 10px;
cursor: pointer;
}
.nameOnCircle{
margin: 5px;
}

.advisorMyprofilePoppup{
display: none;
width: 220px;
/* padding: 5px; */
/* list-style: none; */
position: absolute;
top: 100%;
background-color: white;
border-radius: 4px;
box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
}
.advisorMyprofilePoppup p{
margin: 0;
padding: 10px 10px;
text-align: left;
background-color: #F5F5F5;
font-size: 14px;
font-weight: 600;
line-height: 18px;
cursor: pointer;
}
.advisorMyprofilePoppup ul li{
padding: 10px 0;
font-weight: 400;
padding: 10px;
}

.advisorMyprofilePoppup ul {
margin: 0 auto;
}

.advisorMyprofilePoppup ul li:nth-child(1), .advisorMyprofilePoppup ul li:nth-child(2){
border-bottom: 1px solid #444;
}

.advisorMyprofilePoppup ul li:nth-child(3), .advisorMyprofilePoppup ul li:nth-child(4){
padding: 10px 10px;
}

.advisorMyprofilePoppup ul li:nth-child(4){
color: #9a2529;
}
.advisorulWrapper{
list-style: none;
width: max-content;
padding: 0;
margin: 0;
}
.advisorNotificationHeader{
font-family: Mulish;
font-size: 20px;
font-weight: 800;
line-height: 24px;
text-align: left;
color: #063E6F;
}


/* Notification css */
.notificationAlret{
font-family: Mulish;
font-size: 12px;
font-weight: 400;
line-height: 15.06px;
text-align: left;
color: #161616;
}
.notificationAlretnotice{
font-family: Mulish;
font-size: 14px;
font-weight: 700;
text-align: left;
line-height: 25px;
border-bottom: 1px solid rgba(132, 113, 116, .2);
opacity: 0.2px;

}
.advisorNotificationLIWrapper{
list-style: none;
margin: 0;  
padding: 0 ;
box-sizing: border-box;
}
.notificationdateTimeWrapper{
display: flex;
justify-content: space-between;
}
.notificationdatetime{
display: flex;
gap: 10px;
align-items: center;
}

/* Notification css */

/* Harshal end */